<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Response</title>
 <link rel="stylesheet" href=<%= css %>>
</head>
<body>
    Welcome <%= name %>, a <%= age %> years old person
 </body>
</html>